@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


:root {
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #A7233A #001220;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 2px;
  }

  *::-webkit-scrollbar-track {
    background: #001220;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #A7233A;
    border-radius: 10px;
    border: 3px solid none;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(/images/bubbles.svg);
    background-size: auto;
}

section {
    height: auto;
    width: 100%;
}

/*---------Section 1---------*/

#sec-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 750px;
}

#navigation {
    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    top: 0;
    left: 0;
    min-width: 650px;

    height: 80px;
    width: 100%;
    transition: 0.6s;

    color: rgb(215, 215, 215);
    background-color: #00000097;
    cursor: default;

    z-index: 1;
}

.sticky {
    background-color: #00000097;
}

#header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: auto;
}

#nameHeader {
    font-size: 24px;
    margin: 0;

    height: auto;
}

#menuButton {
    visibility: hidden;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;

    transition: 0.6s;
}

#menu a {
    font-size: 22px;
    color: rgb(215, 215, 215);
    text-decoration: none;
}

#menu a:hover {
    text-decoration: 2px underline rgb(215, 215, 215);
}

#mainPageHeader {
    margin-top: 200px;
    max-width: 1000px;

    font-size: 72px;

    color: rgb(215, 215, 215);

}

#workSpace {
    display: flex;

    flex-flow: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin-top: 50px;

    gap: 20px;
}

.card {
    position: relative;
    overflow: hidden;

    height: 300px;
    width: 450px;

    outline: 3px solid #ebdbb2;
    outline-offset: -8px;

    border-radius: 10px;
    box-shadow: 3px 3px 10px #282828;

    background-color: #333;
}
  
.card-image {
    position: absolute;

    inset:  0;

    height: 100%;
    width: 100%;

    object-fit: cover;
    opacity: .6;

    transition: transform .75s;
}
  
.card:hover .card-image {
    transform: scale(1.15);
}
  
.card-title {
    position: absolute;

    left: 15px;
    bottom: 1px;

    font-size: 32px;

    color: #f9f5d7;
    text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
}







/*---------Resposive shit---------*/

@media (max-width: 700px){

    #navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: auto;
        min-width: unset;
    }

    #header-menu {
        width: 100%;
        margin: 40px 0 40px;
    }

    #menuButton {
        visibility: visible;

        border: none;

        font-size: 28px;
        color: rgb(215, 215, 215);

        background: none;
    }

    .hide {
        visibility: hidden;
        position: fixed;

        right: -200px;
    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 20px;

        padding-bottom: 40px;
    }

    #thirdPageInfo {
        gap: 20px;
    }

    .links {
        font-size: 62px;
    }

    .links:hover {
        scale: 110%;
        transition: 0.4s;
    
        color:#661220;
    }

}

@media (max-width: 550px) {

    #workSpace {
        gap: 30px;
    }

    .card {
        height: 200px;
        width: 350px;
    }

    .card-title {
        font-size: 22px;
    }
}